<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Forum</title>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <h1>Forum</h1>
    <nav>
        <form action="/" method="post" style="text-align: left;">
            {% csrf_token %}
            <button class="bn" type="submit">Home</button>
        </form>
        <form action="/my_posts/{{user.username}}" method="post" style="text-align: left;">
            {% csrf_token %}
            <button class="bn" type="submit">My posts</button>
        </form>
        <form action="/logout" method="post">
            {% csrf_token %}
            <button class="bn" type="submit">Logout</button>
        </form>
    </nav>
    {% csrf_token %}
    <!-- Form to create a new post -->
    <h2>Create a New Post</h2>
    <form action="/create_post" style="padding: 5%;" method="POST">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" required>
        <label for="content">Content:</label>
        <textarea name="content" rows="5" required></textarea>
        <button type="submit">Post</button>
    </form>

    <h2>Posts</h2>
    <div>
        {% for post in posts %}
        <div class="post-card">
            <h2 style="color: #4CAF50;">{{ post.user.username }}</h2>
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
                {% if post in user.liked_posts.all %}
                <button class="liked-button"
                    hx-post="/like/{{ post.id }}"
                    hx-trigger="click"
                    hx-target="this"
                    hx-swap="outerHTML">
                    <span id="heartIcon" class="red_span">❤️</span>
                    <span id="like-count-{{ post.id }}" class="red_span">{{ post.no_likes }}</span>
                </button>
                {% else %}
                <button class="like-button"
                    hx-post="/like/{{ post.id }}"
                    hx-trigger="click"
                    hx-target="this"
                    hx-swap="outerHTML">
                    <span id="heartIcon" class="red_span">❤️</span>
                    <span id="like-count-{{ post.id }}" class="red_span">{{ post.no_likes }}</span>
                </button>
                {% endif %}


        
            
            <form class="reply-card" action="/reply/{{ post.id }}" method="POST">
                {% csrf_token %}
                <label for="content">Reply:</label>
                <textarea name="content" required style="display: inline-block;"></textarea>
                <button type="submit">Reply</button>
            </form>

            <!-- Replies section -->
            <div class="replies-section">
                <h4>Replies:</h4>
                {% for reply in post.replies.all %}
                <div class="reply-card">
                    <h3>{{ post.user.username }}</h3>
                    <p>{{ reply.content }}</p>
                </div>
                {% endfor %}
            </div>


        </div>
        {% endfor %}
    </div>

</body>

</html>
